{% extends "admin/navbaradmin.html" %}

{% block content %}



      <div class="content">
          <form method="post" action="{% url 'approve_disapprove_users' %}">
            {% csrf_token %}
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in pending_users %}
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <input type="hidden" name="user_ids" value="{{ user.id }}">
                      <button type="submit" name="action" value="approve" class="btn btn-success">Approve</button>
                      <button type="submit" name="action" value="disapprove" class="btn btn-danger">Disapprove</button>
                    </td>
                    <td>Pending</td>
                  </tr>
                  {% endfor %}
                  {% for user in approved_users %}
                  {% if not user.is_superuser %}
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td></td>
                    <td>Approved</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        {% endblock  %}




